@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,600;1,800&display=swap");
body {
  height: 100vh;
  margin: 0;
  font-family: "Montserrat", arial;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

.nav-container {
  background: #ffffff;
}

.nav-container a {
  color: #000000;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2em;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

ul a {
  display: block;
  padding: 0 1em;
}

.hero {
  display: -ms-grid;
  display: grid;
  text-align: center;
  padding: 4em;
}

.hero li {
  list-style-type: none;
}

.hero h1 {
  padding-top: 1em;
  padding-bottom: 0;
  color: #F34242;
}

.hero .aboutme {
  padding: 0;
  color: #000000;
}

.hero .ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50% 50%;
      grid-template-columns: 50% 50% 50%;
  padding: 0 6em 0;
  width: 20%;
}

.hero2 {
  display: -ms-grid;
  display: grid;
  text-align: center;
  padding: 4em;
  background: #F34242;
  left: 0;
  z-index: -1;
}

.hero2 li {
  list-style-type: none;
}

.hero2 h1 {
  padding-top: 1em;
  padding-bottom: 0;
  color: #ffffff;
}

.hero2 .aboutme {
  padding: 0;
  color: #ffffff;
}

.hero2 .ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50% 50%;
      grid-template-columns: 50% 50% 50%;
  padding: 0 6em 0;
  width: 20%;
}

section {
  padding: 4em 2em;
  text-align: center;
}

.mlshowcase .right transition2 {
  place-content: center;
}

.mlshowcase .mltitle {
  color: #F34242;
}

.mlshowcase .mldesc {
  color: #000000;
}

.appshowcase {
  position: relative;
}

.appshowcase::before {
  content: "";
  position: absolute;
  width: 100vw;
  height: 630px;
  background: #F34242;
  top: +180px;
  left: 0;
  z-index: -1;
}

.apptitle {
  font-size: 42px;
  color: #ffffff;
}

.appdesc {
  color: #ffffff;
}

.apppic {
  width: 113%;
  height: auto;
}

.arrow {
  max-width: 45%;
  padding-left: 1.5em;
}

.gitshowcase {
  padding-left: 4em;
  padding-top: 150px;
  display: -ms-grid;
  display: grid;
  text-align: left;
  -ms-grid-columns: 70% auto;
      grid-template-columns: 70% auto;
}

.gitshowcase .gittitle {
  color: #F34242;
  font-size: 30px;
  padding: 0;
  margin: 0;
}

.gitshowcase .gitsub {
  color: #000000;
  font-style: italic;
  font-size: 20px;
  padding: 0;
  margin: 0;
}

.gitdesc {
  padding-left: 2em;
  color: #000000;
  font-size: 15px;
  text-align: center;
}

.contactme {
  position: relative;
  padding: 8em;
}

.contactme .contactbubble {
  position: absolute;
  width: 250px;
  height: auto;
  left: 4em;
  z-index: -1;
}

.contacttitle {
  position: relative;
  bottom: 84px;
  font-size: 30px;
  font-style: italic;
  color: #000000;
}

.contactdesc {
  position: relative;
  bottom: 90px;
  font-size: 8px;
  color: #ffffff;
}

@media only screen and (min-width: 700px) {
  section {
    padding: 1em 2em;
    text-align: center;
  }
  .hero, .hero2 {
    gap: 1rem;
    padding-bottom: 0;
  }
  .hero h1, .hero2 h1 {
    position: relative;
    bottom: 320px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 40%;
        grid-template-columns: 40%;
    text-align: left;
  }
  .hero .aboutme, .hero2 .aboutme {
    position: relative;
    bottom: 350px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 40%;
        grid-template-columns: 40%;
    text-align: left;
  }
  .hero .heropic, .hero2 .heropic {
    position: relative;
    right: -45vw;
    width: 350px;
    height: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 40%;
        grid-template-columns: 40%;
    direction: rtl;
  }
  .hero .ul, .hero2 .ul {
    position: relative;
    bottom: 370px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    padding: 0;
    width: 10%;
  }
  .mlshowcase {
    gap: 1rem;
    padding-bottom: 0;
  }
  .mlshowcase .mltitle {
    position: relative;
    left: 400px;
    bottom: 350px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 40%;
        grid-template-columns: 40%;
    text-align: left;
  }
  .mlshowcase .mldesc {
    position: relative;
    left: 400px;
    bottom: 350px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 40%;
        grid-template-columns: 40%;
    text-align: left;
  }
  .mlshowcase .mlpic {
    position: relative;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 40%;
        grid-template-columns: 40%;
    bottom: 100px;
    width: 350px;
    height: auto;
  }
  .appshowcase {
    gap: 1rem;
    padding-bottom: 0;
    position: relative;
    bottom: 280px;
  }
  .appshowcase .apptitle {
    position: relative;
    bottom: 120px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 60%;
        grid-template-columns: 60%;
    text-align: left;
  }
  .appshowcase .appdesc {
    position: relative;
    bottom: 140px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 60%;
        grid-template-columns: 60%;
    text-align: left;
  }
  .appshowcase .apppic {
    position: relative;
    right: -18vh;
    top: 130px;
    width: 400px;
    height: auto;
  }
  .appshowcase::before {
    top: +250px;
    width: 100vw;
    height: 34vh;
  }
  .gitshowcase {
    gap: 1rem;
    padding-bottom: 0;
    position: relative;
    bottom: 140px;
  }
  .gitshowcase .gittitle {
    position: relative;
    bottom: 120px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 70%;
        grid-template-columns: 70%;
    text-align: left;
    font-size: 50px;
  }
  .gitshowcase .gitsub {
    position: relative;
    bottom: 115px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 60%;
        grid-template-columns: 60%;
    text-align: left;
    font-size: 28px;
  }
  .gitshowcase .arrow {
    position: relative;
    bottom: 100px;
    width: 300px;
    height: auto;
  }
  .gitshowcase .gitdesc {
    padding: 0;
    margin: 0;
    position: relative;
    bottom: 80px;
    display: -ms-grid;
    display: grid;
    text-align: left;
    font-size: 22px;
  }
  .contactme {
    position: relative;
    padding: 8em;
  }
  .contactme .contactbubble {
    position: absolute;
    width: 500px;
    height: auto;
    left: 8em;
    z-index: -1;
  }
  .contacttitle {
    position: relative;
    bottom: 88px;
    font-size: 30px;
    font-style: italic;
    color: #000000;
  }
  .contactdesc {
    position: relative;
    bottom: 60px;
    font-size: 17px;
    color: #ffffff;
  }
}

@media only screen and (min-width: 900px) {
  section {
    padding: 1em 2em;
    text-align: center;
  }
  .hero, .hero2 {
    display: -ms-grid;
    display: grid;
    place-content: center;
    padding-left: 7em;
  }
  .hero .heropic, .hero2 .heropic {
    position: relative;
    right: -50vw;
    width: 390px;
    height: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 40%;
        grid-template-columns: 40%;
    direction: rtl;
  }
  .hero .ul, .hero2 .ul {
    position: relative;
    bottom: 365px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    padding: 0;
    width: 7%;
  }
  .mlshowcase {
    display: -ms-grid;
    display: grid;
    place-content: center;
    padding-left: 7em;
    gap: 1rem;
    padding-bottom: 0;
  }
  .mlshowcase .mltitle {
    padding-left: 2em;
    position: relative;
    left: 400px;
    bottom: 350px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 40%;
        grid-template-columns: 40%;
    text-align: left;
  }
  .mlshowcase .mldesc {
    padding-left: 3em;
    position: relative;
    left: 400px;
    bottom: 350px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 40%;
        grid-template-columns: 40%;
    text-align: left;
  }
  .mlshowcase .mlpic {
    position: relative;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 20%;
        grid-template-columns: 20%;
    bottom: 100px;
    width: 400px;
    height: auto;
  }
  .appshowcase {
    gap: 1rem;
    padding-bottom: 0;
    position: relative;
    bottom: 280px;
  }
  .appshowcase .apptitle {
    position: relative;
    bottom: 120px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 60%;
        grid-template-columns: 60%;
    text-align: left;
  }
  .appshowcase .appdesc {
    position: relative;
    bottom: 140px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50%;
        grid-template-columns: 50%;
    text-align: left;
  }
  .appshowcase .apppic {
    position: relative;
    right: -30vh;
    top: 100px;
    width: 400px;
    height: auto;
  }
  .appshowcase::before {
    width: 100vw;
    height: 31vh;
  }
  .gitshowcase {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 60% 20% 30%;
        grid-template-columns: 60% 20% 30%;
    position: relative;
  }
  .gitshowcase .gittitle {
    position: relative;
    bottom: 120px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 90%;
        grid-template-columns: 90%;
    text-align: left;
  }
  .gitshowcase .gitsub {
    position: relative;
    bottom: 115px;
    text-align: left;
  }
  .gitshowcase .arrow {
    position: relative;
    bottom: 100px;
    right: 230px;
    width: 200px;
    height: auto;
  }
  .gitshowcase .gitdesc {
    position: relative;
    font-size: 20px;
    right: 230px;
    bottom: 120px;
    display: -ms-grid;
    display: grid;
    text-align: left;
  }
}

@media only screen and (min-width: 1250px) {
  .nav-container {
    background: #ffffff;
  }
  .nav-container a {
    color: #000000;
  }
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 4em 32em 0;
  }
  section {
    padding: 1em 2em;
    text-align: center;
  }
  .hero, .hero2 {
    gap: 1rem;
    padding-bottom: 0;
    padding-left: 20em;
  }
  .hero h1, .hero2 h1 {
    position: relative;
    bottom: 470px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 40%;
        grid-template-columns: 40%;
    text-align: left;
    font-size: 50px;
  }
  .hero .aboutme, .hero2 .aboutme {
    position: relative;
    bottom: 520px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 40%;
        grid-template-columns: 40%;
    text-align: left;
    font-size: 25px;
  }
  .hero .heropic, .hero2 .heropic {
    position: relative;
    right: -42vw;
    width: 550px;
    top: 50px;
    height: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 40%;
        grid-template-columns: 40%;
    direction: rtl;
  }
  .hero .ul, .hero2 .ul {
    position: relative;
    bottom: 530px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    padding: 0;
    width: 6%;
  }
  .mlshowcase {
    gap: 1rem;
    padding-bottom: 0;
  }
  .mlshowcase .mltitle {
    position: relative;
    left: 780px;
    bottom: 500px;
    font-size: 27px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 40%;
        grid-template-columns: 40%;
    text-align: left;
  }
  .mlshowcase .mldesc {
    position: relative;
    left: 760px;
    bottom: 500px;
    font-size: 24px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 40%;
        grid-template-columns: 40%;
    text-align: left;
  }
  .mlshowcase .mlpic {
    position: relative;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 40%;
        grid-template-columns: 40%;
    bottom: 100px;
    width: 700px;
    height: auto;
  }
  .appshowcase {
    gap: 1rem;
    padding-bottom: 0;
    position: relative;
    bottom: 280px;
  }
  .appshowcase .apptitle {
    position: relative;
    bottom: 440px;
    left: 275px;
    font-size: 70px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 40%;
        grid-template-columns: 40%;
    text-align: left;
  }
  .appshowcase .appdesc {
    position: relative;
    bottom: 480px;
    font-size: 25px;
    left: 275px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 30%;
        grid-template-columns: 30%;
    text-align: left;
  }
  .appshowcase .apppic {
    position: relative;
    right: -50vh;
    top: 15px;
    width: 730px;
    height: auto;
  }
  .appshowcase::before {
    width: 100vw;
    height: 53vh;
  }
  .gitshowcase {
    gap: 1rem;
    padding-bottom: 0;
    position: relative;
    bottom: 140px;
  }
  .gitshowcase .gittitle {
    position: relative;
    bottom: 120px;
    left: 210px;
    font-size: 77px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 60%;
        grid-template-columns: 60%;
    text-align: left;
  }
  .gitshowcase .gitsub {
    position: relative;
    left: 210px;
    font-size: 50px;
    bottom: 130px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 60%;
        grid-template-columns: 60%;
    text-align: left;
  }
  .gitshowcase .arrow {
    position: relative;
    bottom: 100px;
    width: 100px;
    right: 300px;
    height: auto;
  }
  .gitshowcase .gitdesc {
    position: relative;
    font-size: 35px;
    bottom: 115px;
    right: 440px;
    display: -ms-grid;
    display: grid;
    text-align: left;
  }
  .contactme {
    position: relative;
    padding: 15em;
  }
  .contactme .contactbubble {
    position: absolute;
    width: 900px;
    height: auto;
    left: 34em;
    z-index: -1;
  }
  .contacttitle {
    position: relative;
    bottom: 210px;
    font-size: 80px;
    font-style: normal;
    color: #000000;
  }
  .contactdesc {
    position: relative;
    left: 330px;
    bottom: 200px;
    font-size: 35px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 60%;
        grid-template-columns: 60%;
    color: #ffffff;
  }
}
/*# sourceMappingURL=main.css.map */